## 1. Analysis of costs to run animal shelters
<p>You are working as a data analyst in the animal welfare department. In preparation for next year's budget, the head of your department would like to know the total cost to shelter animals, broken down by each animal type and size combination (i.e., 'small dogs', 'large dogs', etc.). You need to prepare a table that contains this information.</p>
<p>The total cost to shelter an animal for the year is calculated as the sum of three factors: the size and animal type, the age, and the location.</p>
<ul>
<li>The base cost of sheltering an animal is based upon its size and type. The costs per animal type and size are contained in the <code>size_costs</code> table. The criteria for classifying size has recently been updated, and so you will need to categorize animals based upon the following table:</li>
</ul>
<table>
<thead>
<tr>
<th style="text-align:right;"></th>
<th style="text-align:right;">Small</th>
<th>Medium</th>
<th>Large</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:right;">Dog</td>
<td style="text-align:right;">&lt;= 10 lbs</td>
<td>10 lbs &lt; and &lt;= 30 lbs</td>
<td>30 lbs &lt;</td>
</tr>
<tr>
<td style="text-align:right;">Cat</td>
<td style="text-align:right;">&lt;= 5 lbs</td>
<td>5 lbs &lt; and &lt;= 7 lbs</td>
<td>7 lbs &lt;</td>
</tr>
<tr>
<td style="text-align:right;">Bird</td>
<td style="text-align:right;">&lt;= 0.7 lbs</td>
<td>0.7 lbs &lt; and &lt;= 1.1 lbs</td>
<td>1.1 lbs &lt;</td>
</tr>
</tbody>
</table>
<ul>
<li>Older animals cost more, and so an age cost (contained in the <code>age_costs</code> table) is added. Each animal's age should be calculated as the age by the end of the year (December 31st, 2021).</li>
<li>There is a location cost depending on where the animal is sheltered (contained in the <code>location_costs</code> table). </li>
<li>The calculation should not include animals that have been sponsored by private charities (sponsored animals are listed in the <code>sponsored_animals</code> table).</li>
</ul>
<p>For future visualization purposes, you will also need to include a <code>percentage</code> column in your result. This percentage should reflect the fraction of the total cost to be allocated to each animal and size combination.</p>
<p>The data you need is available in the tables shown in the database schema below.</p>
<h5 id="databaseschema">Database Schema</h5>
<p><img src="https://assets.datacamp.com/production/repositories/5934/datasets/a946a159c0024ee0995f7a030f2c0cf802203835/diagram.PNG" width="500" height="500"> </p>

In [1]:
%%sql
postgresql:///animal_shelters

'Connected: @animal_shelters'

In [147]:
animals = %sql select * from animals;
import pandas as pd
animals = pd.DataFrame(animals)
# Connect to database
from sqlalchemy import create_engine
engine = create_engine("postgresql:///animal_shelters");

# Query database
result = engine.execute("SELECT * FROM animals;")

# Change column in animals dataframe
animals.columns = list(result.keys())
animals.head()

 * postgresql:///animal_shelters
11899 rows affected.

         animalid   birthdate animaltype             color  weight    location
0  80066a4b41ac06  05/11/2019        Cat  Blue Tabby/White     4.0  Fort Worth
1  968bf2e7230d2f  11/12/2012        Cat            Torbie     7.0     Houston
2  8aacfe19c56b0f  07/08/2013        Dog         White/Tan    45.0      Austin
3  7126d96889803f  04/05/2015        Cat             Black     3.0     Houston
4  9617240ad5b268  04/29/2014        Cat             Black     9.0     Houston

In [148]:
def size_converter(animal, weight):
    if animal == 'Dog':
        if weight <= 10:
            return 'Small'
        elif 10<weight<=30:
            return 'Medium'
        else:
            return 'Large'
    elif animal == 'Cat':
        if weight <= 5:
            return 'Small'
        elif 5<weight<=7:
            return 'Medium'
        else:
            return 'Large'
    elif animal == 'Bird':
        if weight <= 0.7:
            return 'Small'
        elif 0.7<weight<=1.1:
            return 'Medium'
        else:
            return 'Large'

In [149]:
animals['size'] = animals.apply(lambda x: size_converter(x['animaltype'], x['weight']), axis=1)

In [150]:
animals.head()

,animalid,birthdate,animaltype,color,weight,location,size
0,80066a4b41ac06,05/11/2019,Cat,Blue Tabby/White,4.0,Fort Worth,Small
1,968bf2e7230d2f,11/12/2012,Cat,Torbie,7.0,Houston,Medium
2,8aacfe19c56b0f,07/08/2013,Dog,White/Tan,45.0,Austin,Large
3,7126d96889803f,04/05/2015,Cat,Black,3.0,Houston,Small
4,9617240ad5b268,04/29/2014,Cat,Black,9.0,Houston,Large

In [151]:
animals['birthdate'] = pd.to_datetime(animals['birthdate'])

In [152]:
animals.head()

,animalid,birthdate,animaltype,color,weight,location,size
0,80066a4b41ac06,2019-05-11,Cat,Blue Tabby/White,4.0,Fort Worth,Small
1,968bf2e7230d2f,2012-11-12,Cat,Torbie,7.0,Houston,Medium
2,8aacfe19c56b0f,2013-07-08,Dog,White/Tan,45.0,Austin,Large
3,7126d96889803f,2015-04-05,Cat,Black,3.0,Houston,Small
4,9617240ad5b268,2014-04-29,Cat,Black,9.0,Houston,Large

In [153]:
last = pd.to_datetime('12/31/2021')
animals['age'] = (last-animals['birthdate']).astype('<m8[Y]')

In [154]:
animals.drop('birthdate',axis=1,inplace=True)

In [155]:
animals.head()

,animalid,animaltype,color,weight,location,size,age
0,80066a4b41ac06,Cat,Blue Tabby/White,4.0,Fort Worth,Small,2.0
1,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0
2,8aacfe19c56b0f,Dog,White/Tan,45.0,Austin,Large,8.0
3,7126d96889803f,Cat,Black,3.0,Houston,Small,6.0
4,9617240ad5b268,Cat,Black,9.0,Houston,Large,7.0

In [156]:
sponsored = %sql select * from sponsored_animals;
import pandas as pd
sponsored = pd.DataFrame(sponsored)
# Connect to database
from sqlalchemy import create_engine
engine = create_engine("postgresql:///animal_shelters");

# Query database
result = engine.execute("SELECT * FROM sponsored_animals;")

# Change column in animals dataframe
sponsored.columns = list(result.keys())
sponsored.head()

 * postgresql:///animal_shelters
2142 rows affected.

        sponsorid animaltype location
0  7e18c2a067e4fd        Cat  Houston
1  32372ddbe6e3ec        Cat   Austin
2  3b5b82a5555895        Dog   Austin
3  da29bb3c402c1c        Dog   Austin
4  15bf11c3efa431        Cat   Austin

In [157]:
sponsor_id = list(sponsored['sponsorid'])
sponsor_id

['7e18c2a067e4fd',
 '32372ddbe6e3ec',
 '3b5b82a5555895',
 'da29bb3c402c1c',
 '15bf11c3efa431',
 '36806649e5722d',
 'd7062f851d9101',
 'd231eaa79ced6f',
 '18596d0453f828',
 'b3b7ec96b85208',
 '34c078327cb023',
 '457b274c411d80',
 'da0121755df78f',
 '6882528aed2a85',
 '62509d57146db2',
 'eeb87b8daa8bfd',
 'c8c655aed009c6',
 '835b07d7237ec4',
 '6fb51d036d6f79',
 '7e254a95bb00ac',
 '089605af08a8a4',
 'df19506168ad7e',
 '0918714dc3a6e1',
 'f4eb90ec7acc25',
 '64cc3ddbe2f5be',
 '214f8f6b359a1e',
 '7525712d71930c',
 '0ea863dbf1123f',
 '7c0c3e04e6a4d4',
 'ce9bc54c423ab3',
 'd70e8a48b1165f',
 '90ff982d8c9890',
 '01b6df09374aad',
 'a3ca1878263065',
 '5c0434772d6af1',
 '83066ff8f3b049',
 '60d76a3514e071',
 'b91a9885287008',
 'a391adcb8c4379',
 'e59fe601ac9d1e',
 'bc198be65dde75',
 '8f4d1c3844bb5c',
 'e35dd271530738',
 '7a72b8291dcc5e',
 'b45f5e3926570a',
 '4f685a2835db15',
 'fc726065526a28',
 'a5bc174a2acc31',
 '5025abc4977311',
 'e3e40530c8efb4',
 'b1eeaab6d18555',
 '28a3c319470d24',
 '04d9fe8f2ba1aa',
 '438efb0f97b6a3',
 'e0aae52bf574d3',
 '511f22687746a6',
 'f96955d7dcd852',
 '4b539bb67bf672',
 'e08ac15bee192c',
 'c57407fd046fbd',
 'fb24cbe4682318',
 'c17f37d60f511e',
 '605b0c0d4f2799',
 '579c858e822e65',
 '479343641e87dd',
 'd98101f2b1b1bf',
 '12d0965000404c',
 'f4f56e0aa64fd3',
 '375037db2af0ac',
 '70edc08314271f',
 'd52ae3de31e3ef',
 '13182df85007b8',
 '27dcb9c5c0f057',
 '35baf4a588873a',
 'd370d3917501b3',
 '155e38b60ec517',
 '352a0aceb54599',
 '5cb6410785fac2',
 '7037c3a5fd9fa5',
 'b0c7a39ac02e2f',
 'c05949ce2a20fd',
 '1a4ea48b1628de',
 '268b4971ad7948',
 'c6a2604c5d148f',
 '157ba0e18be115',
 'dbcdea2853f8d2',
 'feed1f9d487c71',
 'c874c8615cf0d2',
 'db70a8f92ab2d6',
 '348407bf36e509',
 'c752448217d6f7',
 '8782af7f966ad9',
 'c256809b4e2910',
 '62903579718f46',
 '449aef5cb22c84',
 'bd07ffb4f6fd1f',
 '13c3f484ce742e',
 'cbeb2c1cb9d515',
 'c66ff81a52aa52',
 'cf0e04f3213896',
 '4c068396c8e674',
 '3f06768fad0520',
 '81dbe8867914a2',
 'ff2fd97926bc7c',
 '998ead7c025be2',
 '0bcc2c08d68333',
 '1bfe07b982ef07',
 '08e4c5ea8b097f',
 '0f1fbf39b24fb3',
 '83af88265c735d',
 '887dde9cabbece',
 'd70a4c866d34b8',
 'faa2a8396de3f0',
 '2d0c22a395760e',
 '541aaf179ba5b0',
 '305e6607ed3d8d',
 '7634d65285a094',
 '28b45c7a81f96b',
 '0883d47dff6480',
 '82afc938a1e576',
 'c0f28c1837c102',
 '205f7a15d0bb28',
 '57645188f52929',
 '7b53b7cae9de5b',
 'ee043c8c8d1c04',
 'f99243385ba4fd',
 '9e76b7c05b7085',
 '9e1f35264081b1',
 '72dcf07994fdad',
 '234670c2fa5282',
 '55a28ff6e1c953',
 '80dc126500355a',
 'a7f5c8eb4ad8ec',
 '8b95ce6424f05f',
 'e72297306b8105',
 '2bffd3b250c35d',
 'cfc9bf92eb8dca',
 'bac437cd5f037d',
 '2aaabc8ff5ea14',
 'f2b719fd388285',
 '0b275a034a239e',
 '70795be0102934',
 '138d7dbd9bc2e4',
 '8a88dc476d870c',
 '8c67b354a53561',
 'b6cbb0cdb74eb3',
 '22065a79b423d6',
 'a347de14dae9d2',
 'db3795bf87cff4',
 '81dc7498bae18b',
 '4e2f5afdbfe3d3',
 'b99525c127ea4d',
 '11947460935de5',
 '1d3a6060fb5ab6',
 '9b03e2234af9bc',
 '5b331cab49d877',
 '3bad4b95557d28',
 '82eb52975e0814',
 '17016db4742c3e',
 '5cb563572132eb',
 '2d6774be3a63c0',
 'b21caf5eb98d92',
 'd949b4caa0b91c',
 '70ac2fddce514d',
 '0d9750a3cd65dc',
 '7e0d9c828cb75a',
 '6e38deccb64ff8',
 '57fa849bb69e89',
 'ac92d61f90c027',
 '28a1663e2a1feb',
 '57605eb566e315',
 '950ade92103851',
 'ec594b1e498e91',
 '9b5bb796bbdefb',
 '256cb829d2721a',
 '983f4c32be9b23',
 '463d179659100f',
 'd07324511868e3',
 'e4c4d82b6d958c',
 'ca4920252d1a74',
 '880fa24173ae95',
 '15e6a2ed9758cf',
 '8aeaa72cc7f612',
 'a5f60e13c97330',
 '178d8c2655d455',
 'cb8f0d8618b1ba',
 'e2667564b961b0',
 '7450b26356c431',
 'fb33647c9ba326',
 '0d571dc84af97e',
 'af07f6b53a1810',
 '027ae2031349f7',
 '6aadb19cb4ddfd',
 '24abd334466fd6',
 '1c7fe09df64829',
 '93288416c953a8',
 'c1e116bb4a84b8',
 '4fb17d44a02bba',
 '442ff5b74273fb',
 '55f1116b2f7800',
 '5bd88c8ec394a1',
 '7af27bd622bb93',
 '1217541c883b38',
 '9d5e576d89273d',
 '9492e351576371',
 '573411c7a42f5a',
 'babeb94335a8e6',
 '76654db5807432',
 'd458027f3f977b',
 '48ea6f75e7a95b',
 '075f7c8bb0412a',
 'abf517d46f4c3e',
 '517e21d3c0f1e9',
 '287ef5605e4928',
 '13c5b4caaa0629',
 '1cb2f91c3a3b69',
 'cbbbc37151ef03',
 '83c2c0beedf8fb',
 'a180ef4efb22f4',
 '73667d5df0d4a4',
 'b6e709c5f1fe42',
 '0a404486cecf34',
 '0b4fcef46087c2',
 '7ae428c13a3f68',
 '3075e4dbee15dd',
 'e2c59ed55a8e93',
 '621ad9691da213',
 '5472c9ec4fe184',
 'd950b2a1183f95',
 '83c51e8903b540',
 '0f4a4d5a78600f',
 '083bcee8e75b46',
 '321f0f9124f69d',
 '2a9ce928d3238c',
 'c7fce703e4448a',
 'f3e9b9e62a2125',
 '62867ec4ff2941',
 '479bb779af59d3',
 '1db02e3a83ba3a',
 'c38e2ed188c93e',
 '12a07d566e9cc8',
 '305f18f9759f27',
 '294c438fd5f93b',
 '9d5438f7157fb8',
 '4a4c89d0eb894d',
 'ee339127648198',
 'd626045c4305f7',
 '56682acae6ccd4',
 '467b36a4439e61',
 'a102e21586e2e4',
 '3b38d9683bd1b6',
 'd7b25c2f126f00',
 '681f245a3396cf',
 '50eb23f0f728a3',
 'b22a6077796fae',
 'c44037cb92da3c',
 '781dbf7e4044e7',
 'fcf35a1d070120',
 '61be9abb98409f',
 '13fbb76e6ba73d',
 'b65f1f84723917',
 '75cbb9da993fbb',
 'be480bfb04c243',
 '1cbbe708c352ba',
 '7ce574172664de',
 '739decd80dc9d4',
 '940a059fee771f',
 '23a6c6d08dab16',
 'fbda2ff4b8da30',
 'f287d13dcb13ba',
 '9e860571e7f7de',
 '628f8c44f68125',
 'ab93a484dcc2a1',
 'dafe5d12f3cd81',
 '320162e517a023',
 '5266d26ed798ce',
 'afd5715b5016a3',
 '33822734f4256b',
 '08602ad35dacb3',
 '494a2d397fb0a7',
 'ff89ca1c22ba49',
 '62c2f06ee96224',
 '66561d74a54a5c',
 'beb17709c9f552',
 '2eaf32513fb127',
 '7f4b8ebba62bba',
 'f4741244cd0fa0',
 'ad3f4d8882623e',
 'e7eae8cc0dbde1',
 '016a1ef675908d',
 'ad251a2bb21345',
 '2680239e1fe7fd',
 '1bffa5b573b4ac',
 'fce174f580d12e',
 '023c4a61ff887e',
 'dade6f9dd0b242',
 '76e78609021981',
 '0ab1ca1b148cae',
 '7ff47790a81814',
 '5bcbd3ed016b6a',
 'be94ffb69e0c2f',
 'c5f2aefa2f89a1',
 'd031ad02822ba0',
 'fad10d4b3b48b3',
 'bbe38da7b182ea',
 '716e2f59b058ce',
 'e8dae35223b911',
 '471103a778557c',
 'f1f8ef8873832e',
 '2807bc51003d76',
 'c002dfabd1c538',
 '8e56efb69ebc16',
 '856f62d1693c73',
 '1b0bd1e24e067f',
 '597ff535bade52',
 '164a5e22c19447',
 '859ef86094cea2',
 'c84ab828ba1641',
 '314c211835a532',
 '0cc49d5fa86fd9',
 '6d9a8af94fe510',
 'e1259b946c13b4',
 '50ae8eaad05059',
 '2203e6ef763450',
 '65e52ebdc25802',
 '37611aec28a10d',
 'a55ca6b4f4f943',
 '407a7799563ccd',
 '3648fb2c7ae672',
 '98b7e4698f52ac',
 '72fdd934a2b6e5',
 '29238db2d703f1',
 '178f1189a06b68',
 'ccdea7aa3a5cb2',
 '09cddc7f5f6ba6',
 'ed22be4af0a29a',
 'f59dd6a790a4cc',
 '327969a39d898a',
 '774d86a8433dd5',
 '6a840ea8705a9b',
 'd1e81d2aeb6e93',
 'f12f6158acee5e',
 '0822c25b8f7e97',
 '1139d0ccdaa99a',
 '998e861da96ee6',
 'd1bfb6b9cc0ad3',
 'cf2cd8c4df4add',
 '4c649a58eee23a',
 '6002c8a35f8cd3',
 '612d561dcc18c7',
 '841460a4bc82df',
 'ff5edfaf6d9ad3',
 'a10164bc50fdd2',
 'fff2b67c8f792e',
 '16ead6bd6e9369',
 'd736e150ccfa87',
 '928da2fbd35610',
 'e722898d83add8',
 '6057bbd0f3e525',
 '4c663e3a095eed',
 '0226acba6062f2',
 '51f305fc5cd1cd',
 'ab97893fc43372',
 'bdeb7bf5a15817',
 'fc49ba2af6334a',
 'a627e9d6d40e18',
 'a206a8b40ce2de',
 '308f3518ffa303',
 '41b186d33c102a',
 '71483c635d0692',
 '843b7522b8640c',
 '3ce0148f80c046',
 '6ab3c3281b40ca',
 '86bd5b1239b6fc',
 '225d849a85945a',
 'a3359cc3e7533a',
 '9a3e191f0cade7',
 '89deaf0f50e54c',
 '529971b2710e93',
 'f06f37e0767d88',
 'de77cea1a1a8cc',
 '9c69ca9cb53a9f',
 'd599c6bece93c2',
 '82d7fde97318e2',
 'c6c43ca7c21684',
 'fb1e6f89509701',
 '25c7ad0fa5cb6b',
 'd4caf3126751e5',
 'b4b421141f9c9c',
 'ef7e81db918f3a',
 '56b005724e6e96',
 '8ffb8c3229ba31',
 '16e3cb364507a2',
 'd6da1c07626a6b',
 '0a5abab5948f36',
 '2ea715cf5c5e45',
 '3adda287db4c37',
 '4410dd33a49890',
 '98d2cf32a2faa5',
 '1af05f936b840f',
 'c00da664c8465e',
 '55a89e47f654e1',
 '2f5552f52c6242',
 '8144b1e38da43d',
 '9435eeb83db02e',
 'da2de08c2c47b9',
 '7b4c253055a73e',
 '75b86c65f501d9',
 '39c39ceff41368',
 'a4e8f7b575f7a0',
 'a9c2fe9439be9f',
 '207b0fec20898e',
 '481d1a7c2a528b',
 '3284e0c3cf6e87',
 'a348060cb0909a',
 '8732c9b72d8e57',
 'b7729fe91e24b1',
 'd0c8c71cad18c5',
 'b636f709a09800',
 '9e87388fdff484',
 '136bec2b8b9049',
 '4a4e06b072818a',
 '275cf6615c9b6b',
 '6951b98e9cb314',
 'c07968c0c5c0d8',
 '2e88bfb6a7552a',
 'b7de45ee3912c8',
 'd3599ab5727ee1',
 '42dcf00b0b36d6',
 '870a9302845fa5',
 'ff8f47cc51533c',
 '9a836782470629',
 'fa467479afc3f2',
 'c4da8838ef1d36',
 'ca2c06f59f7b7e',
 '962ac86ac1b12d',
 '6da5832570f624',
 'aa29c884fcb3be',
 '4901bfd7f6e7f0',
 '68fe456f197c8e',
 'bed0858e716ff3',
 'd99ad384bb4d67',
 '38c742982edbab',
 'ee4e854a607d44',
 '95d193da580a59',
 '9e888cf14eaed0',
 '8b6a721b858a2c',
 '617be218c12ce3',
 'f03a6bf55a2aff',
 '3fcba8ffcfe52f',
 '09190518d2b20e',
 '4877469d4d2610',
 '0e3c4eccf9ec67',
 'eec30967b6f4f8',
 'f8d82d0adaae5e',
 '4662e15e3f3c78',
 '7db9c05708ea34',
 '3369b976c278c1',
 'd1e8a3a47cee4a',
 '2851aba5da8b4e',
 'd1ead20d5dbcf8',
 '33008a201448b7',
 '2c7d4dd63c5252',
 'fe155e454a037f',
 '8b59fbd1465c8c',
 '5ff784d71252b9',
 'fa34b904169843',
 'f1dfe28b8a35d1',
 '624f438c3c7035',
 '1bbe28000950b2',
 '0846bf7cb34717',
 '228149b3894e23',
 'fdd2f78bf10859',
 '1ce7b052196943',
 'eeb2416306c542',
 '8f40c04bbe0c74',
 '4e8d5824c0c69c',
 'a476ca0434fe4f',
 '22ab17655ec024',
 '254c8eabd3f491',
 '4066bb94192cdf',
 '4b6785d2601ce2',
 '25a9b49353feef',
 '61b82c178632fb',
 '37f49de5cea939',
 '79cc2cd438cbd0',
 'a8d42255824229',
 'c8b69f5ebb128c',
 '82863704071cb8',
 '49bab3d1e846ff',
 'a17ff5946da68f',
 'aeae4348b4eca1',
 '336cb069082a6a',
 'd1c366e78b3088',
 'e085519e9e95c9',
 'f62bbb39a7e827',
 '44d5f4d7aa1420',
 '97e8cccc1f396f',
 '67291506aa8b96',
 '9f09da330f9a4b',
 'fca13a3e10808a',
 '2982b782e6a32b',
 '4f8a9d1c52289e',
 'a2e4423fc63c47',
 'f61b8988ce5e8a',
 'd081ae1e62c208',
 'c7053823843495',
 'd78399c15696b6',
 'c479e50fa3f59a',
 'ce9f145d3a2f5e',
 'a67f27a9b6490b',
 '5c843b6b6ba024',
 '9dc4dde9828ae4',
 'ad939eee77cc73',
 '962a10c8e8b798',
 'b6920807768f70',
 '82319110cdff0f',
 'eff95a9586adaf',
 '25169403abec3a',
 '8edbaca4f4fd8d',
 'a7ac1b996dcfeb',
 '34cf3cadb5bfb9',
 '7e08455809174a',
 'b774c018ee5ee8',
 '286a79ec728911',
 '559b08e177ae07',
 '955265afcf1191',
 'c6192045be9ce9',
 'b6beadd9673e3a',
 'd701245268bd06',
 '752e8ff43ead60',
 'add3963f9158d8',
 '2e673873fdeeed',
 '74f2963fbfe21c',
 'c3eb504a4e9d6d',
 'c94f11224394c1',
 '9c2339148ed507',
 '0036bf506c4a0d',
 '43a4ed527b08d9',
 'b3d349998e0e75',
 'f6317fba4a7b17',
 'ab64a8797576c3',
 '2d4989754e589d',
 '7f47ec42f73e9a',
 '5612677b853e3a',
 'dbb0bfa4475d92',
 'ff21fa4a94689c',
 'c05e8e0979d38c',
 'd484e3df3f9434',
 '8d466d5e3cc7f1',
 '8cef2a3b4bea60',
 '1e7ab37a2efbbc',
 '840f2c81715228',
 'ad34337cd40d3c',
 '0672e4960b7b90',
 '89a0cb02c34458',
 '849b38abb387ba',
 'e5e103cb1661d9',
 '0b32c610e18127',
 'd91cdf72174f1c',
 'b357c932f2cfc9',
 '7db6293058b605',
 '6437a6c08ffd92',
 'f506471122c937',
 '500e2352c5956e',
 '7b7ff323124444',
 'c8665fb6eda51e',
 'e14498508bfc5a',
 'fe92a05f638ac8',
 'd7e23d1f5cdcc4',
 '2cea6ea1acfe88',
 'f105bc710a3431',
 '3adb2a0c5805d6',
 'c6031d6ff8e18a',
 '66e69ec109805f',
 'ca710c1deb0b3b',
 'affbb1bf5c7033',
 '9feadb19345851',
 '1885e1c05a4c53',
 '6c7e8520aa3640',
 '59e412f1cb2697',
 '05e600549500fb',
 'df5870a2c56148',
 '8a4f1c9d4cc0fd',
 '8bab03d69e84be',
 '562be418bf17c8',
 '54be6c30410508',
 '0ce645e6a19621',
 '378f72dfebf834',
 'd473ca85362376',
 'ca32907ebf9a9a',
 '5208bd6c6b06ce',
 '6c7c6d5f77f560',
 'db167a00018db8',
 'e641f744905d09',
 '371c4d86474ac8',
 '4f3383da668b85',
 '85967bb4d8d7f5',
 '4131f52702f4ca',
 'b8d654eaaadfe3',
 '057887c553ae00',
 '38ba695cbc7c91',
 'b146d4cd252537',
 'e0fb6974ba90c5',
 'e9d3c403812eee',
 'b5b94d0d2d1138',
 '4927bb16d1a56d',
 '7aaf5cacb7c924',
 '0e383f02b5def0',
 '675489fb8e8757',
 'b2dbffaf52e77b',
 '471d8466b165fe',
 '46d5ba2e7075bd',
 '0897569e99a294',
 '9274d2ff37c1c8',
 '6bab99cdce2c6a',
 'c25b8461804248',
 'd8e4ab47745398',
 '1a29da4d7156ac',
 '301d456a1e3010',
 'beb901b24e656a',
 '1d93b67abe0591',
 'f90486816ce2d4',
 '02430dec629ab8',
 '2beffff933f37c',
 '90ffea83742196',
 'abcd071c0eefe5',
 '7f00aa4a214b01',
 'f58cad77f1ce9a',
 'b2ec4b9a172805',
 'e37e63ddf6d4a1',
 '051f8116bb5cf1',
 'b11c511c89f345',
 'f1df71ef33b649',
 '4d88fb93363df3',
 'd838e1027c142a',
 'bd35ad2819db57',
 '67953594bc94a1',
 '2d4e9046797ed6',
 'ce5a012fe005f2',
 '0251b9d41bfbe0',
 '2f06abcd3e122e',
 'a6633e65816683',
 '81e325fb1337df',
 'b776fd8a79bf8f',
 '7ebbc6ccb19142',
 '05461682efeae9',
 '300a93279856f7',
 '402ae205069f1f',
 '9b83412f10d8cd',
 '4c019841f265cd',
 '379b29d4d4118c',
 'b1b5ab707c46bd',
 'be74fde13d943a',
 '6a949d70650fca',
 '5f19a9cf8d1a33',
 '7ebd47010c7007',
 '1d7669d8cd8e1e',
 'df90022964551d',
 'f98dce8288dd42',
 '2627ec37c49e72',
 '7cbf2bfde3f708',
 '3bee4a81d4b1e6',
 '074f525f44da0b',
 '373060fee1fe6a',
 '9d03a7e9c7c725',
 'b0277c955785c1',
 '2b8389905d4cda',
 '9428d09cc2d834',
 '714005507b316d',
 '85abcc02691d2b',
 '17c41008839a8b',
 'ccde9f04f22015',
 'bcc8af4c185453',
 '3435cfb1946c0d',
 '76c61b60a22d68',
 '55c03da3382b0e',
 '38cc97f21541ca',
 'fa84568069fa83',
 '4ab94dc7d556bb',
 '2041c8ededc5d5',
 'e1109415dc58d7',
 '0ebf4cc3d41a6d',
 '4d8d9addb58ee1',
 '99e5d62cbc90f5',
 '7a8b9b67229ba3',
 'd4749e3b6ef413',
 '606c7d9898a78b',
 'ada5c0c96ee7d1',
 '19da7406d73916',
 '74cedb3d7d0794',
 'e8b2eb988f72e5',
 'e646510f3c6465',
 'efb9a8005140f9',
 'af311ac8411b14',
 '7536271d525d72',
 '70f941d2e5d38d',
 'dfc7b10300bfdb',
 '2e1639823167cb',
 '983cbe122c991f',
 'b9037f9e7b4800',
 '34388210deb1ba',
 '56f89adafb837a',
 'b74edd6de09251',
 '1a495fae0e7e81',
 '6ba9483dc0f88c',
 '264f0924355194',
 '3469c8ef50d1fa',
 'cb3c2e21ae89c8',
 '4635413a17d3e0',
 '597882b486f7c7',
 '204c1a0fdc7a7d',
 '09bd170b0c37e9',
 '1744ed980f9576',
 '141a2b3bf8658a',
 '59f9029da479b2',
 '29da8aaa124ecb',
 'bf1202df619ed4',
 '3bd1ca6c4fc722',
 'e5dee5a3df53a6',
 '7aae7abc603fc0',
 '9ae3f8e20575c4',
 'a4c767fc74f21f',
 '959ea566ef0be6',
 '00db4139bb78cd',
 'b1996fd36d5d40',
 '9cc40fae60de01',
 'bbb3b6550371ea',
 '0b28d54c2954f5',
 '9bd2a84fa25f4b',
 '1839233e99788b',
 '92b4ec7e8ef32e',
 '49345efb6b87f9',
 'aa64f421ef375c',
 'c1956c3af62201',
 'ca7a5f129bf5d1',
 '6dd256707a57d8',
 '752d951e00d8bd',
 '0a7a49ae79718b',
 'f254353f232612',
 '3cd57488b56158',
 'd355b32fa10242',
 '697f22adc97676',
 '2329c0e5309644',
 '613d2b71f0cace',
 '0bde5e51d7c1ef',
 'be784e42b68d3e',
 '8b6d2fd19dccc0',
 'e25850a3aae048',
 'b41f771453c1c7',
 'bdf2698ed15108',
 '086a4c65f58654',
 '0521789cdafa98',
 '53affb824fa5ad',
 'f62980125a0ad2',
 '3ef5fe3f6c4c2b',
 'df71bd8e4761e8',
 '073a3ac8aa4af2',
 'ed2e24b719d62d',
 'aed6e42fb62ccd',
 '26d936da49e223',
 '5355de25eb384b',
 '7b39da9040ae6b',
 'c8413b43eb06ef',
 'f2d3d822d8cbf4',
 'b219b21168e5c5',
 '91a8922209a53d',
 '978f95f5e7e883',
 'eabef6a5bb1d80',
 'd0e2e53afdb918',
 '2b0d09a9687c8b',
 '148989ec400336',
 'b2fa20f9a2109f',
 '547567a3190c0f',
 '1d8bf841524b93',
 '12dcb3df8d7e80',
 'c51371461e6441',
 'b39fee4c398d33',
 'ae6ddb4b331e35',
 '3ac95b778a6bdc',
 '5cc4691badeac1',
 '9499d19cd4837b',
 '341d9f3714f47e',
 '2981fccedde875',
 '4a5ac01724f996',
 '24f3e2d8d0ccf2',
 'd2b39756a1881e',
 'b01366d02b7afb',
 '3cdc1c237af327',
 '372db6f43ac2f1',
 '8f59015048a556',
 'd3a48c7323db2f',
 '8deeabd0efc972',
 '45fe398f0e663f',
 '57d69e8f67ffe6',
 'd7325809793c4a',
 'a29fac5dd9820a',
 'e15c6286c77d5e',
 'caad96083f92c5',
 'aa3a26758849f3',
 '5464abc08d78ff',
 'c1e46dba9d4a29',
 '1b4b739b5be18a',
 '38b4365dc53f84',
 '9a3fc6776641ae',
 '5b7cdce3b71722',
 '6012d92bbca9f1',
 'e0b67683747b87',
 '47105fe2df115d',
 'aa628bb7875ef1',
 '6514e5867f6749',
 '8653989fa20f1a',
 'aabf13978548ef',
 '9c876a41f22284',
 'e381ffce71a9eb',
 'e2ab3cbb5b08a5',
 'cd1a0f8b372bf3',
 '7978f20c0551b6',
 '5ed34a3aa27097',
 'a5ca07d311fee0',
 '78aadb90e1533e',
 '72cd4f12bcbecd',
 'cfaaae7b7f52a9',
 'a76cbb829b4fa4',
 '30a7ea6e47481a',
 '222187bae7a46e',
 '5b10a0c6c05519',
 '53990f0ec18305',
 'd1f9c64ea5c1f5',
 '332867fbdef9dd',
 '3b079d73772ea1',
 'c85370e54d8161',
 'd5eb9e808893d8',
 '134540055d512a',
 '397f808d7bf742',
 'd0da3696c3cb5e',
 '417f3ffbed47ff',
 '4daa385e9858c9',
 '711ac5152823bf',
 'd365a93767b923',
 'e1f44c8fe11df6',
 '1e815b8dcd3ca2',
 'fed18f3a877cca',
 'c482b258bf31ac',
 '2aec4672d310d1',
 '2d65f506c248c2',
 'e9062cc2f0645b',
 '6febe396603305',
 '710d1352c9503e',
 '215899389a726d',
 '206d4f35d141e5',
 '9407b2edb37658',
 '3d5f9a2013a239',
 '04267c37028f5c',
 '814106497873c9',
 '62528b8433367b',
 '18e41de4118719',
 '2f2814f83ecd10',
 'a887b32cdaf23f',
 'bc9a65eeea8295',
 '61f5149ed182dd',
 '4c594efb83496c',
 '4be1e11e2fc53e',
 '2264a6dae180d6',
 'bcb201a2855399',
 'e5ea3e7de3ede7',
 'aa305d1d3af8dc',
 '64cc302b263af8',
 '2c1f34c21217d0',
 'abb9eece2cef7b',
 '364ec7fff6b501',
 'a156e70a990b69',
 '924cf32637c14c',
 '3fc7e421344f33',
 'affd376b17c14a',
 'f26132825afec8',
 '81a58f21167f19',
 '6d8f37c4511c1c',
 '127a6290b3bc0a',
 '1496136deb3141',
 '9b358570a2ef70',
 'd386a6c2dd463a',
 '47b66c2945f19b',
 'e78e384faef6ca',
 '9edcf08a604e4c',
 '612efac9388510',
 'a9cafb8f6dc633',
 '8ecf796085dea5',
 '4421200003690b',
 '49ac0f88ea7e8b',
 '83dccfe5e9e2c2',
 '9c3f1ddd1195ee',
 'e1f61d380d3e85',
 'd2e3de513caf11',
 '0eadee59a4863f',
 'ec1029c5a9bc56',
 'ec7f48c733e799',
 '48bf3768c5a72f',
 'd292cf076a120e',
 '60ac05466a0e90',
 '61c18ce993327f',
 'fb8c945b74cc22',
 '1f1550350b0b59',
 '48409e83c4bd33',
 '2184ec7675a16c',
 '35075b0ebaf215',
 'c4e47ebfb6b491',
 '50e0000ddf63ed',
 '859cc47d8dbbff',
 'dfde9a326ad63a',
 '3d8e01fb1fa0ba',
 '832d8c59ab63a9',
 '3d0fd358cdbaac',
 'd384bc555fff92',
 '7e9c061ff54b74',
 '55054f63bd696c',
 '3704ff2b968beb',
 'b9e989c53dda8d',
 '3af17e25af9cd2',
 '23887997ff00c0',
 '3c8844639b0680',
 '681744faedc4df',
 '746d6762c4a21d',
 '4e48bbc9e57cea',
 '9beec1d671fc84',
 '78abe8cf489ec1',
 'a1464415e96c09',
 '428536d3d0cb9d',
 '1d5e79342fbda5',
 'b5c572400063f3',
 '629dc0ee782e93',
 '5d4e0008fbe75e',
 'ea1bb6ed5ecc05',
 'a3e9242f4a6628',
 'ac23fe21f7266b',
 '4fc82b14650c8a',
 '20bff946dbabcc',
 'c305c56f23e97f',
 '2c1fb1767dd647',
 '1402c4d740a198',
 '2b1e04cdde0c6c',
 '02f8c6c6cf1fb7',
 '936646e4f719f7',
 'd2acd7329b9f23',
 '29cea86409629c',
 '163b9de3d63b42',
 'e057c3aeb84458',
 'e5af633b0e2e29',
 '4d505f9caf6e7b',
 'ec713c20969294',
 '765e4d08c12c61',
 '44d855452ac444',
 '36fa41571fec54',
 'afa0c0bba27aa4',
 '26f7d556655922',
 '825cc30e8afa71',
 '8f49649d306fe6',
 'af58f2f43e69b1',
 'e608dffa72b5b5',
 'be19cff7ff9dfc',
 '88c63645701890',
 'ce98fc726ae0bf',
 '2fd0ae79e32afb',
 '82cad2353d1676',
 '41d29fc4c70a81',
 '70156bc35e9deb',
 '5ef0440bd8d662',
 '18f1124cc9d3b7',
 'c982d778bbd2c0',
 '5c90ddc22dcc0b',
 '377c1f39a0a752',
 '4f1f28176172bb',
 '8f4b5e902047e9',
 '5f04421403aedb',
 '7893668a9987a8',
 '5d9281a4542658',
 'b14069999a0ee6',
 'e5245af1a86ace',
 '4cccec228bd957',
 '33f9b882bfe082',
 'e117d1e524bfa2',
 '51dbe54e535ec7',
 '52a0cff941ce1f',
 '0320288b6a503b',
 '877bc165970727',
 '44c3f4bd5e86cc',
 'e9ad3b0f4ef77c',
 'c1b1356feae4f4',
 'c114153317ae53',
 'a9ef0b744b144d',
 '94dddba6646dc4',
 'b2f37d21fd56a1',
 '37af9355cd5773',
 '9468f03664c585',
 'cba73f2d1060e8',
 '1d40414fec35c6',
 '5ad188c9254736',
 '4ac33dcf949748',
 '0853fd0465e5b5',
 '5fb005154af1b7',
 ...]

In [158]:
#Exclude sponsored animals
animals = animals[~animals['animalid'].isin(sponsor_id)]

In [159]:
location = %sql select * from location_costs;
import pandas as pd
location = pd.DataFrame(location)
# Connect to database
from sqlalchemy import create_engine
engine = create_engine("postgresql:///animal_shelters");

# Query database
result = engine.execute("SELECT * FROM location_costs;")

# Change column in animals dataframe
location.columns = list(result.keys())
location.head()

 * postgresql:///animal_shelters
5 rows affected.

      location  costs
0  San Antonio    120
1       Dallas    110
2      Houston    140
3       Austin    135
4   Fort Worth    100

In [160]:
location_cost = pd.merge(animals,location,on='location')

In [161]:
location_cost.head()

,animalid,animaltype,color,weight,location,size,age,costs
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140
1,9617240ad5b268,Cat,Black,9.0,Houston,Large,7.0,140
2,e03a24b436f6db,Dog,Yellow,13.0,Houston,Medium,8.0,140
3,fd8befa64f05ff,Cat,Brown Tabby,9.0,Houston,Large,4.0,140
4,9c6cbeb11aaabc,Dog,White/Black,22.0,Houston,Medium,14.0,140

In [162]:
location_cost.rename(columns={'costs':'loc_costs'}, inplace=True)

In [163]:
location_cost.head()

,animalid,animaltype,color,weight,location,size,age,loc_costs
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140
1,9617240ad5b268,Cat,Black,9.0,Houston,Large,7.0,140
2,e03a24b436f6db,Dog,Yellow,13.0,Houston,Medium,8.0,140
3,fd8befa64f05ff,Cat,Brown Tabby,9.0,Houston,Large,4.0,140
4,9c6cbeb11aaabc,Dog,White/Black,22.0,Houston,Medium,14.0,140

In [164]:
age = %sql select * from age_costs;
import pandas as pd
age = pd.DataFrame(age)
# Connect to database
from sqlalchemy import create_engine
engine = create_engine("postgresql:///animal_shelters");

# Query database
result = engine.execute("SELECT * FROM age_costs;")

# Change column in animals dataframe
age.columns = list(result.keys())
age.head()

 * postgresql:///animal_shelters
51 rows affected.

  age  costs
0   0      0
1   1      0
2   2      0
3   3      0
4   4      0

In [165]:
age['age'] = age['age'].astype('float')

In [166]:
age.head()

   age  costs
0  0.0      0
1  1.0      0
2  2.0      0
3  3.0      0
4  4.0      0

In [167]:
age_loc_cost = pd.merge(location_cost,age,on='age')

In [168]:
age_loc_cost.head()

,animalid,animaltype,color,weight,location,size,age,loc_costs,costs
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140,150
1,346f914fbe622f,Cat,Brown Tabby,6.0,Houston,Medium,9.0,140,150
2,a1a4159214c0e9,Dog,Blue Merle/White,47.0,Houston,Large,9.0,140,150
3,da6dbbe378abc8,Dog,Tan/Cream,32.0,Houston,Large,9.0,140,150
4,bec6392753c2cb,Dog,Tan/White,10.0,Houston,Small,9.0,140,150

In [169]:
age_loc_cost.rename(columns={'costs':'age_costs'}, inplace=True)

In [170]:
age_loc_cost.head()

,animalid,animaltype,color,weight,location,size,age,loc_costs,age_costs
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140,150
1,346f914fbe622f,Cat,Brown Tabby,6.0,Houston,Medium,9.0,140,150
2,a1a4159214c0e9,Dog,Blue Merle/White,47.0,Houston,Large,9.0,140,150
3,da6dbbe378abc8,Dog,Tan/Cream,32.0,Houston,Large,9.0,140,150
4,bec6392753c2cb,Dog,Tan/White,10.0,Houston,Small,9.0,140,150

In [171]:
size = %sql select * from size_costs;
import pandas as pd
size = pd.DataFrame(size)
# Connect to database
from sqlalchemy import create_engine
engine = create_engine("postgresql:///animal_shelters");

# Query database
result = engine.execute("SELECT * FROM size_costs;")

# Change column in animals dataframe
size.columns = list(result.keys())
size.head()

 * postgresql:///animal_shelters
9 rows affected.

  sizeid animaltype    size  costs
0     DL        Dog   Large    175
1     DM        Dog  Medium    150
2     DS        Dog   Small    125
3     CL        Cat   Large    140
4     CM        Cat  Medium    120

In [172]:
total_cost = pd.merge(age_loc_cost,size,on=['animaltype', 'size'])

In [173]:
total_cost.head()

,animalid,animaltype,color,weight,location,size,age,loc_costs,age_costs,sizeid,costs
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140,150,CM,120
1,346f914fbe622f,Cat,Brown Tabby,6.0,Houston,Medium,9.0,140,150,CM,120
2,0224100f50a776,Cat,Black,6.0,Houston,Medium,9.0,140,150,CM,120
3,27c67087ac1181,Cat,Brown Tabby,7.0,Houston,Medium,9.0,140,150,CM,120
4,60bf447f0efdd3,Cat,Tortie,7.0,Houston,Medium,9.0,140,150,CM,120

In [174]:
total_cost['total'] = total_cost['loc_costs']+total_cost['age_costs']+total_cost['costs']

In [175]:
total_cost.head()

,animalid,animaltype,color,weight,location,size,age,loc_costs,age_costs,sizeid,costs,total
0,968bf2e7230d2f,Cat,Torbie,7.0,Houston,Medium,9.0,140,150,CM,120,410
1,346f914fbe622f,Cat,Brown Tabby,6.0,Houston,Medium,9.0,140,150,CM,120,410
2,0224100f50a776,Cat,Black,6.0,Houston,Medium,9.0,140,150,CM,120,410
3,27c67087ac1181,Cat,Brown Tabby,7.0,Houston,Medium,9.0,140,150,CM,120,410
4,60bf447f0efdd3,Cat,Tortie,7.0,Houston,Medium,9.0,140,150,CM,120,410

In [176]:
total_cost = total_cost[['animaltype','size','total']]

In [177]:
total_cost['animaltype'] = total_cost['animaltype'].str.lower()
total_cost['size'] = total_cost['size'].str.lower()

In [178]:
total_cost.head()

  animaltype    size  total
0        cat  medium    410
1        cat  medium    410
2        cat  medium    410
3        cat  medium    410
4        cat  medium    410

In [179]:
total_cost.groupby(by=['animaltype','size']).sum()

                    total
animaltype size
bird       large     7770
           medium    3460
           small     1615
cat        large   439390
           medium  250575
           small   518015
dog        large   977565
           medium  941845
           small   336530

In [180]:
type = ['bird','bird','bird','cat','cat','cat','dog','dog','dog']
size = ['small','medium','large','small','medium','large','small','medium','large']
total = [1615,3460,7770,518015,250575,439390,336530,941845,977565]

In [181]:
data = {'animaltype':type, 'size':size, 'total':total}
data = pd.DataFrame(data)
data

  animaltype    size   total
0       bird   small    1615
1       bird  medium    3460
2       bird   large    7770
3        cat   small  518015
4        cat  medium  250575
5        cat   large  439390
6        dog   small  336530
7        dog  medium  941845
8        dog   large  977565

In [182]:
grandtotal = data['total'].sum()
grandtotal

3476765

In [183]:
data['percentage'] = round(data['total']/grandtotal*100,2)

In [184]:
data

  animaltype    size   total  percentage
0       bird   small    1615        0.05
1       bird  medium    3460        0.10
2       bird   large    7770        0.22
3        cat   small  518015       14.90
4        cat  medium  250575        7.21
5        cat   large  439390       12.64
6        dog   small  336530        9.68
7        dog  medium  941845       27.09
8        dog   large  977565       28.12